/*http://colorschemedesigner.com/#3t31Tdth1xQpB*/
html{
	font-family:Georgia;
	position:absolute;
}
body{
	background-color: #B7A77A;
	margin:20px;
}

#canvases{

}



#intro{
	margin:50px;
}

img{
	width:auto;
	max-height:100%;
}
p{
	width:510px;
}

